@import "../../styles";
.detail {
  display: flex;
  flex-direction: column;
  gap: 14px;
  .row {
    display: flex;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    // gap: 10px;
  }
}
.editor {
  display: flex;
  flex-direction: column;
  // align-items: center;
  box-shadow: 11px 8px 38px 0px rgba(32, 30, 30, 0.75);
  min-width: 400px;
  min-height: 550px;
  padding: 1rem;
  margin: 1rem;
  .editor-header {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.292);
    &::-webkit-scrollbar {
      height: 7px;
      margin-top: 5px;
      border: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $blue;
    }
    .section {
      cursor: pointer;
      border-bottom: 2px solid transparent;
      font-size: 1.2rem;
      padding: 10px;
    }
    .active {
      border-bottom: 2px solid $blue;
      color: $blue;
    }
  }
  .editor-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .chips {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;

      .chip {
        display: flex;
        gap: 5px;
        align-items: center;
        padding: 0px 30px;
        background-color: $background-light;
        color: $color-light;
        border-radius: 30px;

        .cross {
          cursor: pointer;
        }
      }
      .active {
        background-color: $blue;
        color: $color-dark;
      }
      .new {
        color: $blue;
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
    button {
      padding: 10px 20px;
      background-color: #4158d0;
      outline: none;
      border: none;
      font-size: 1.2rem;
      color: $color-dark;
      width: 150px;
      cursor: pointer;
    }
  }
}
