@import "../../styles";

.resume {
  min-height: 900px;
  min-width: 500px;
  max-width: 900px;
  box-shadow: 11px 8px 38px 0px rgba(32, 30, 30, 0.75);
  height: fit-content;
  background-color: $background-light;
  color: $color-light;
  padding: 20px 30px;
  .resume-header {
    display: flex;
    flex-direction: column;
    .heading {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
    .sub-heading {
      font-size: 1.3rem;
      color: $resume-blue;
      margin-top: -10px;
    }
    .links {
      display: flex;
      //   gap: 30px;
      gap: 10px;
      margin-bottom: 15px;
      flex-wrap: wrap;
      .link {
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        cursor: pointer;
        color: $color-light;
        .icon {
          color: $resume-blue;
          font-size: 1.2rem;
        }
      }
    }
  }
  .resume-main {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    .col1 {
      flex: 1.3;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .col2 {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

.section {
  .sectionTitle {
    font-size: 1.5rem;
    // font-weight: 600;
    width: 100%;
    border-bottom: 2px solid black;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    .item {
      .title {
        font-size: 1.3rem;
      }
      .subtitle {
        font-size: 1rem;
        color: $resume-blue;
      }
      .date {
        display: flex;
        align-items: center;
        .icon {
          font-size: 1.4rem;
          margin-right: 5px;
        }
      }
      .link {
        display: flex;
        align-items: center;
        color: $resume-blue;
        .icon {
          font-size: 1.4rem;
          margin-right: 5px;
        }
      }
      .location {
        display: flex;
        align-items: center;
        .icon {
          font-size: 1.4rem;
          margin-right: 5px;
        }
      }
      .points {
        width: 100%;
        margin-block-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 10px;
        li {
          text-align: left;
        }
      }
    }
  }
}
