@import "../../styles";
.header {
  padding: 2rem;
  background-color: $header-bg-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
    width: 100%;
    height: 60%;
    .text {
      text-align: left;
      width: 50%;
      h1 {
        font-size: 3rem;
        span {
          color: #c850c0;
        }
        @media (max-width: 450px) {
          font-size: 2rem;
        }
      }
      p {
        font-size: 1.5rem;
        @media (max-width: 450px) {
          font-size: 1rem;
        }
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .img {
      width: 600px;
      position: relative;

      img {
        position: absolute;
        z-index: 10;
        width: 350px;
        height: 350px;
        top: 25%;
        right: 25%;
        @media (max-width: 768px) {
          display: none;
        }
      }
      @media (min-width: 450px) and (max-width: 768px) {
        position: absolute;
        left: 0%;
        top: 0%;
        transform: scale(0.6);
        opacity: 0.6;
      }
      @media (max-width: 450px) {
        display: none;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 1rem;
    }
  }
  @media (max-width: 450px) {
    padding: 1rem;
  }
  button {
    padding: 10px 20px;
    background-color: #c850c0;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: $color-dark;
    width: 150px;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    justify-content: center;
  }
}
.light {
  background-color: $header-bg-light;
  color: $color-light;
}
